<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	
	
	<!-- 定义以下页面放行,不被拦截 -->
	<http pattern="/*.html" security="none"/>
	<http pattern="/css/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/plugins/**" security="none"/>
	<!-- 配置拦截规则
		use-expressions:是否使用spring的表达式(SpEL)
	 -->
	<http use-expressions="false">
		<!-- 拦截的url access:配置的角色-->
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<!--开始表单登录  
			always-use-default-target:身份验证通过后总是跳转到 default-target-url 属性指定的 URL。
		
		-->
		
		<!-- 
			默认登录的地址是/login
		 -->
		<form-login login-page="/login.html" default-target-url="/admin/index.html" authentication-failure-url="/login.html" always-use-default-target="true"/>
		<!--不使用跨站请求伪造  -->
		<csrf disabled="true"/>
		<!--前端页面如果使用框架页，需要设置框架页的策略为 SAMEORIGIN  -->
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
		<!--配置登录退出 
			默认退出的url:/logout
			默认退出后跳转的页面:登录页
		 -->
		<logout/>
	</http>
	
	<!--配置认证管理器  -->
	<authentication-manager>
		<!-- 认证提供者 -->
		<authentication-provider>
			<user-service>
				<!-- 配置用户登录成功之后,具有的角色 -->
				<user name="admin" password="123" authorities="ROLE_USER"/>
				<user name="xiaogui" password="123456" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>	
</beans:beans>